body {
  font-family:'Inter';
  line-height: 1.6;
  background-image: url("/Idea-2/images/Wallpaper-House.com_252315.jpg");
}
.navbar {
  background-color: #114b5f;
  padding: 15px;
  position:sticky;
  top: 0;
  height: 80px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  float: right;
}

.navbar h1{
  color: #00ffb3;
  float: left;
}

.logo{
  height:40px;
  width: 40px;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HOME */
.hero {
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.hero {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Idea-2/images/hero1.avif");
  background-size: cover;
  background-position: center; 
}
.hero h1 {
  font-size: 32px;
  margin-bottom: 20px;
  background-color: #25c998d7;
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
}

.hero-para{
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #25c998d7;
  padding: 5px;
  border-radius: 8px;
  width: 300px;
  margin-left: 520px;
}



/* BOOKS TAB */
.book-container {
  padding: 20px;
  display: flex;
  flex-wrap:wrap;
  gap: 20px;
  justify-content: center;
  background-color: #114c5f44;
  border-radius: 10px;
}

.page-heading{
  text-align: center;
  margin-top: 20px;
  background-color: #114c5f44;
}

.book {
  border: 3px solid #1a936f;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  text-align: center;
}

.book img {
  width: 250px;
  height: 300px;
  border: 1px solid #1a936f;
  border-radius: 10px;
}

button{
  background-color: #1a936f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  font-family: 'Inter';
}

/* CATEGORIES TAB */
.categories {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #114c5f44;
  border-radius: 10px;
  margin-top: 30px;
}

.category {
  border: 3px solid #1a936f;
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
}

/* ABOUT TAB */
.about-content {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #114c5f44;
  border-radius: 10px;
}

.team-member {
  border: 3px solid #1a936f;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
}

.contact-form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #114c5f44;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group input, 
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 3px solid #1a936f;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  background-color: #114b5f;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

